<!DOCTYPE html>
<html>
  <head>
    <link href="{{url_for('static', filename='lib/Semantic-UI/semantic.min.css')}}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="@kimkkiruk">
    <title>hairpin v2</title>
  </head>
  <body>
    <div class="ui container">
      <div class="ui secondary pointing menu">
        <a class="{% if menu == 'home' %}active {% endif %}item" href="/">
          Hairpin
        </a>
        <a class="{% if menu == 'scripts' %}active {% endif %}item" href="/scripts">
          스크립트
        </a>
        <a class="{% if menu == 'words' %}active {% endif %}item" href="/words">
          단어
        </a>
        <a class="{% if menu == 'categories' %}active {% endif %}item" href="/categories">
          카테고리
        </a>
        <div class="right menu">
          <a class="ui item">
            Logout
          </a>
        </div>
      </div>

      {%- with messages = get_flashed_messages() -%}
        {% if messages -%}
          {% for message in messages %}
          <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">Message</div>
            <p>{{ message }}</p>
          </div>
          {% endfor %}
        {%- endif %}
      {%- endwith -%}

      <div id="ui container">
        {% block contents %} {% endblock %}
      </div>

      <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          엔트리를 삭제할까요?
        </div>
        <div class="image content">
          <div class="description" id="hairpin-action">
            detail
          </div>
        </div>
        <div class="actions">
          <div class="ui button hairpin-cancel">취소</div>
          <div class="ui red button hairpin-confirm">삭제</div>
        </div>
      </div>

      <div class="ui divider"></div>

      {% include 'footer.html' %}
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='lib/Semantic-UI/semantic.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/hairpin.js')}}"></script>
</html>
{#
vim:ft=htmldjango
#}
