      <div class="ui grid">
        <div class="row">
          <div class="eight wide left floated column">
            <h3>Nixiko Hairpin</h3>
            <p>
              <a href="https://twitter.com/kimkkiruk" class="twitter-follow-button" data-show-count="false" data-lang="en">@kimbbiruk</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <a href="https://twitter.com/nixieko" class="twitter-follow-button" data-show-count="false" data-lang="en">@nixieko</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
          </div>
          <div class="four wide right floated column">
            <img src="{{url_for('static', filename='img/nixiko.jpg')}}">
            <p>&copy; 2019 <a href="http://nixiko.kil9.com">닉시코 학부모회</a></p>
          </div>
        </div>
      </div>
