{% extends 'base.html' %}
{% block contents %}

<form class="ui form" action="/response_scripts" method="POST">
  <h4 class="ui dividing header">입력</h4>
  <div class="field">
    <div class="fields">
      <div class="three wide field">
        <label>반응 키워드</label>
        <input type="text" name="keyword" placeholder="누구" autocomplete="off">
      </div>
      <div class="ten wide field">
        <label>응답 스크립트</label>
        <input type="text" name="script" placeholder="닉시코다요 %{사람}!" autocomplete="off">
      </div>
      <div class="three wide field">
        <label>이미지 키워드</label>
        <input type="text" name="image_keyword" placeholder="안녕" autocomplete="off">
      </div>
    </div>
  </div>
  <input class="positive ui button" type="submit" value="입력">
</form>

<div class="ui divider"></div>

{% set pagination = payload.scripts %}
<h4 class="ui dividing header">확인 및 편집</h4>

<div class="ui message">
  <i class="close icon"></i>
  <div class="header"> 리터럴 사용법 </div>
  <p>%{상대}: 멘션 상대</p>
</div>

<div class="ui pagination menu">
  <a class="
    {%- if not payload.scripts.has_prev %}disabled{% endif %} item"
     {% if payload.prev_url %}href="{{ payload.prev_url }}"{% endif %}>
    <i class="angle double left icon"></i>
  </a>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="item" href="{{ url_for('response_scripts', page=page) }}">{{ page }}</a>
      {% else %}
        <a class="active item">{{ page }}</a>
      {% endif %}
    {% else %}
      <i class="ellipsis horizontal icon"></i>
    {% endif %}
  {%- endfor %}
  <a class="
    {%- if not payload.scripts.has_next %}disabled{% endif %} item"
    {% if payload.next_url %}href="{{ payload.next_url }}"{% endif %}>
    <i class="angle double right icon"></i>
  </a>
</div>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="center aligned">id</th>
      <th>keyword</th>
      <th>content</th>
      <th class="center aligned">block</th>
      <th class="center aligned">img</th>
      {#
      <th>added_by</th>
      <th>added_at</th>
      <th>mod_by</th>
      <th>mod_at</th>
      -#}
      <th class="center aligned">test</th>
      <th class="center aligned">del</th>
    </tr>
  </thead>
  <tbody>
    {%- for script in payload.scripts.items %}
    <tr{% if script.is_blocked %} class="negative"{% endif %}>
      <td data-label="id" class="center aligned">{{ script.id }}</td>
      <td data-label="keyword">{{ script.keyword }}</td>
      <td data-label="content">{{ script.content }}</td>
      <td data-label="is_blocked" class="center aligned">
        {% if script.is_blocked == 0 %}
        <i class="eye icon"></i>
        {% else %}
        <i class="eye slash icon"></i>
        {% endif %}
      </td>
      <td data-label="img" class="center aligned">
        {% if not script.image_keyword %}
        <i class="minus icon"></i>
        {% else %}
          {{ script.image_keyword }}
        {% endif %}
      </td>
      {#
      <td data-label="added_by">{{ script.added_by }}</td>
      <td data-label="added_at">{{ script.added_at }}</td>
      <td data-label="modified_by">{{ script.modified_by }}</td>
      <td data-label="modified_at">{{ script.modified_at }}</td>
      -#}
      <td data-label="test" class="center aligned">
        <a class="hairpin-test-script"
          data-content="{{ script.content }}"
          data-url='/response_scripts/test/{{ script.id }}'
          href='' onclick="return false;">
          <i class="teal check square icon"></i>
        </a>
      </td>
      <td data-label="delete" class="center aligned">
        <a class="hairpin-delete"
          data-content="{{ script.content }}"
          data-url='/response_scripts/{{ script.id }}'
          href='' onclick="return false;">
          <i class="red x icon"></i>
        </a>
      </td>
    </tr>
    {% endfor -%}
  </tbody>
</table>
{% endblock %}
