{% extends 'base.html' %}
{% block contents %}
<form class="ui form", action="/words" method="POST">
  <h4 class="ui dividing header">입력</h4>
  <div class="field">
    <div class="fields">
      <div class="four wide field">
    		<label>카테고리</label>
        <input type="text" name="category" placeholder="{{ payload.category }}" value="{{ payload.category }}" autocomplete="off">
      </div>
      <div class="ten wide field">
    		<label>내용</label>
        <input type="text" name="content" placeholder="닉시코" autocomplete="off">
      </div>
    </div>
  </div>
  <input class="positive ui button" type="submit" value="입력">
</form>
<h4 class="ui dividing header">확인 및 편집</h4>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="{% if not payload.category %}active teal {% endif %}item"
         href="{{ url_for('words', page=page) }}">
        전체
      </a>
      {% for category in payload.categories %}
      <a class="{% if payload.category == category %}active teal {% endif %}item"
         href="{{ url_for('words', page=page, category=category) }}">
        {{ category }}
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="twelve wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th class="center aligned">id</th>
          <th>category</th>
          <th>content</th>
          <th class="center aligned">block</th>
          {#
          <th>added_by</th>
          <th>added_at</th>
          <th>mod_by</th>
          <th>mod_at</th>
          -#}
          <th class="center aligned">del</th>
        </tr>
      </thead>
      <tbody>
        {%- for word in payload.words.items %}
        <tr>
          <td data-label="id" class="center aligned">{{ word.id }}</td>
          <td data-label="category">
            <a href="{{ url_for('categories') }}">
            {{ word.category }}
            </a>
          </td>
          <td data-label="content">{{ word.content }}</td>
          <td data-label="is_blocked" class="center aligned">
            {% if word.is_blocked == 0 %}
            <i class="eye icon"></i>
            {% else %}
            <i class="eye slash icon"></i>
            {% endif %}
          </td>
          {#
          <td data-label="added_by">{{ word.added_by }}</td>
          <td data-label="added_at">{{ word.added_at }}</td>
          <td data-label="modified_by">{{ word.modified_by }}</td>
          <td data-label="modified_at">{{ word.modified_at }}</td>
          -#}
          <td data-label="delete" class="center aligned">
            <a class="hairpin-delete"
              data-category="{{ word.category }}"
              data-content="{{ word.content }}"
              data-url='/words/{{ word.id }}'
              href='' onclick="return false;">
              <i class="red x icon"></i>
            </a>
          </td>
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
